body { 
    font-size: 16px;
    color: black;
    background-color: #000
     'Courier New', Courier, monospace;
}
.navbar {
    background-color: bisque;
    border-radius: 0;
    border-radius: 0;
}
.navbar-default .navbar-brand{
    color: aqua;
}
h2 {
    margin-top: 20px;
}

section {
    border: 1px salmon;
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 5%;--
    background-color: bisque;
    
}