h3 {  
    font-size: 22px;
    color: #020816;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    margin: 0px 50px 0 50px;
    padding-top: -60px;
}
h2 {  
    font-size: 48px;
    color: #020816;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    margin: 0px 50px 0 50px;
    padding-top: -60px;
}
section {
    border: 1px solid #000;
    margin-top: 7%;
    margin-bottom: 3%;
    padding: 5%;
    background-color: rgba(255, 149, 0, 0.7);
    
}
